body{
    display: grid;
    place-items: center;
    background-color: #242529;
    font-family: 'Poppins', 'sans serif';
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

.img-title{
    display:flex;
}

.card-login{
    background-color: #0D0B10;
    width: 400px;
    padding: 60px 40px;
    border-radius: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-login > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form-login > div > label {
    font-weight: 500;
}

.text{
    color:white;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text>input{
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    background-color: #152030;
    color: white ;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.text>label{
    color: white;
    margin-bottom: 10px;
}

.button-login{
    background-color: #7353BA;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

.button-login:hover{
    background-color:#6e4abd(74, 129, 233)  ;
    transition:.3s;
    padding: 16px;
}